body {
  background-color: #E8E8E8;
}

#vision-board {
  background-image: url('../img/background.png');
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  height: 850px;
  overflow: auto;
  text-transform: uppercase;
  width: 1200px;
}

.block {
  box-sizing: border-box;
  float: left;
  width: 400px;
}

.sml-blk {
  height: 210px;
}

.lrg-blk {
  height: 430px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}