body {
  background-color: #E8E8E8;
}

#vision-board {
  background-image: url('../img/background.png');
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  height: 850px;
  overflow: auto;
  text-transform: uppercase;
  width: 1200px;
}

.block {
  box-sizing: border-box;
  float: left;
  width: 400px;
}

.sml-blk {
  height: 210px;
  padding: 50px;
}

.lrg-blk {
  height: 430px;
  padding: 80px 50px;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.lt-bg {
  background-color: white;
}

.dk-bg {
  background-color: #3B3B3B;
  color: white;
}

.year {
  font-family: 'Permanent Marker', cursive;
} 

span {
  background-color: #FFF44F;
}